name: OpenWrt

on:
  workflow_dispatch:

env:
  REPO_URL: https://github.com/openwrt/openwrt
  REPO_BRANCH: master
  FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: .config
  DIY_P1_SH: diy-part1.sh
  DIY_P2_SH: diy-part2.sh
  UPLOAD_BIN_DIR: true
  UPLOAD_FIRMWARE: true

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git python3 unzip p7zip-full zlib1g-dev gawk wget

    - name: Clone openwrt source code
      run: |
        git clone $REPO_URL -b $REPO_BRANCH openwrt

    - name: Copy files
      run: |
        cp $FEEDS_CONF openwrt/feeds.conf.default
        cp $CONFIG_FILE openwrt/.config
        cp $DIY_P1_SH openwrt/diy-part1.sh
        cp $DIY_P2_SH openwrt/diy-part2.sh
        chmod +x openwrt/diy-part1.sh
        chmod +x openwrt/diy-part2.sh

    - name: Load custom feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Make defconfig
      run: |
        cd openwrt
        make defconfig

    - name: Compile the firmware
      run: |
        cd openwrt
        make -j$(nproc) || make -j1 V=s

    - name: Upload firmware
      uses: actions/upload-artifact@main
      with:
        name: firmware
        path: openwrt/bin/targets
