name: Build OpenWrt X86_10G

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y build-essential clang flex bison g++ gawk gcc-multilib \
        git gettext libncurses-dev libssl-dev python3 python3-pip python3-setuptools \
        rsync unzip zlib1g-dev file wget subversion swig time xsltproc

    - name: Clone OpenWrt
      run: |
        git clone https://github.com/openwrt/openwrt.git
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        cp ../.config ./
        make defconfig

    - name: Compile OpenWrt
      run: |
        cd openwrt
        make -j$(nproc) || make -j1 V=s

    - name: Upload Firmware
